@use 'colors/azure-blue' as color;
@use 'sizes/spacing' as space;

.hello {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: color.$azure-blue-light;;
  padding: space.$spacing-md;
  gap: space.$spacing-sm;

  &__title {
    font-size: 2rem;
    margin: 0;
    color: color.$azure-blue-dark;
    flex: 1 1 auto;
    text-align: left;

    @media (max-width: 600px) {
      font-size: 1.5rem;
      text-align: center;
      width: 100%;
    }
  }

  &__text {
    font-size: 1.2rem;
    color: color.$azure-blue-secondary;
  }

  &__patient-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: space.$spacing-md;
    padding: space.$spacing-md space.$spacing-sm;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 80vh;

    @media (max-width: 600px) {
      padding: space.$spacing-sm;
    }
  }

  &__actions {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: space.$spacing-sm space.$spacing-md;

    @media (max-width: 600px) {
      justify-content: center;
      padding: space.$spacing-sm;
    }

    button {
      font-weight: 600;
      padding: 0.5rem 1.5rem;
      font-size: 1rem;
      text-transform: uppercase;
      border-radius: 0.5rem;
    }
  }
}
