@let currentUser = user();
<div class="hello">
  <div class="hello__header">
    @if (currentUser) {
      <h1 class="hello__title">{{ 'HELLO.TITLE' | translate }}, {{ currentUser.name }}</h1>
    }
    <div class="hello__lang-switcher">
      <lib-translate-language-switcher />
    </div>
  </div>

  <div class="hello__actions">
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['/', AppRoutes.Hello, userId, PatientRoutes.Base, PatientRoutes.Add]"
    >
      {{ 'PATIENTS.ADD' | translate }}
    </button>
  </div>
  <div
    class="hello__patient-list-container"
    (scroll)="onScroll($event)"
  >
    <div class="hello__patient-list">
      @for (patient of patientList(); track patient.id) {
        <app-patient-card [patient]="patient" />
      }
    </div>
  </div>
  <router-outlet />
</div>
