@use 'colors/azure-blue' as color;

.login {
  position: relative;
  flex-direction: column;
  background-color: color.$azure-blue-light;
  padding: 1rem;

  &__lang-switcher {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
  }

  &__title {
    margin-bottom: 1rem;
    color: color.$azure-blue-primary;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 1rem;
  }

  &__field {
    width: 100%;
  }

  &__button {
    width: 100%;
    background-color: color.$azure-blue-primary;
    color: white;
  }

  &__result {
    margin-top: 1rem;
    color: red;
    text-align: center;
  }
}
