button {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    font-size: 1.25rem;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
