@import "node_modules/@angular/material/prebuilt-themes/azure-blue.css";

/* Roboto Light 300 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./assets/fonts/roboto-latin-300-normal.woff2") format("woff2");
}

/* Roboto Regular 400 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/roboto-latin-400-normal.woff2") format("woff2");
}

/* Roboto Medium 500 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/roboto-latin-500-normal.woff2") format("woff2");
}

/* Roboto SemiBold 600 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./assets/fonts/roboto-latin-600-normal.woff2") format("woff2");
}

/* Roboto Bold 700 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/roboto-latin-700-normal.woff2") format("woff2");
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('./assets/fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}
